<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <base href="{{ site_url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG65DD0JD1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-ZG65DD0JD1');
    </script>
</head>

<body id="{{ title }}">
    <nav>
        <section>
            <span class="home">
                <a href="">Home</a>
            </span>
            <span class="links">
                {{ menu }}
                <a href="contact.html">Contact</a>
                <a href="about.html">About</a>
            </span>
        </section>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <section>
            <p>&copy; {{ current_year }} Simon Mackenzie</p>
            <p>
                <a href="https://www.linkedin.com/in/simon-mackenzie-4b902b6/">LinkedIn</a>
                <a href="https://github.com/simonm3">GitHub</a>
            </p>
        </section>
    </footer>

</body>

</html>